@import './base/common';

@import './utils/vars';
@import './utils/breakpoints';
@import './utils/mixin';
@import './utils/placeholder';

@import './component/visually-hidden';
@import './component/container';
@import './component/button';

@import './layout/header';
@import './layout/hero';
@import './layout/product';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer_reviews';
@import './layout/contacts';
@import './layout/footer';
@import './layout/mobile-menu';
@import './layout/by-now-modal';
@import './layout/read-more-modal';
@import './layout/our-location-modal';
@import './layout/franchise-modal';
@import './layout/ingredient-modal';
