/* 
шрифти: 
Seymour One - 400;
Monsterat - 900, 800, 700, 600, 500, 400;
Roboto - 700, 500, 400;
*/
/* 
root {
  --background-color-main: #84a178;
  --background-color-modal: #fff;
  --background-color-secondary: #f8d24e;
  --background-color-icecream: #aec6a5;
  --background-color-icecoffee: #efd478;
  --background-color-milkshakes: #d6936d;
  --text-color-main: #fcfcfc;
  --text-color-secondary: #000;
  --text-color-address: #d6936d;
} */
