:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --title-font: 'Seymour One', sans-serif;

  --speed-animation: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);

  --background-color-main: #84a178;
  --background-color-secondary: #f8d24e;
  --background-color-modal: #fff;
  --background-color-tablet-menu: #97af8d;
  --background-color-mobile-menu: #85a279;
  --background-color-icon-social: #f8d24e;
  --background-color-address: #fcfcfc;
  --background-color-cow-img: #D9D9D9;

  --border-modal: #f8d24e;
  --border-modal-input: #84a178;

  --icecream-color: #aec6a5;
  --icecream-bg-img: rgba(156, 190, 143, 0.7);
  --icecoffee-color: #efd478;
  --icecoffee-bg-img: rgba(248, 210, 78, 0.7);
  --milkshakes-color: #d6936d;
  --milkshakes-bg-img: rgba(213, 117, 63, 0.7);

  --button-color-main: #f8d24e;
  --button-color-accent: #0a8817;
  --button-color-disable: #ababab;

  --social-bg-color: #f8d24e;
  --social-color: #84a178;
  --social-color-accent: #fff;

  --text-color-main: #fcfcfc;
  --text-color-secondary: #000;
  --text-color-accent: #f8d24e;
  --text-color-titles: #131313;
  --text-color-address: #d6936d;
  --text-color-time: #ababab;
  --text-color-accent-menu: #000;
  --text-color-secondary-footer: #7a7a7a;
  --text-color-footer-contact: #131313;
  --text-color-social: #000;
  --text-color-button: #000;
  --text-color-button-frameless: #f8d24e;
  --text-color-button-frameless-accent: #0a8817;
}
