<section class="advantage">
    <h2 class="visually-hidden">Our advantages</h2>
    <ul class="container advantage__container">
        <li class="advantage__block advantage__block_first">
            
            
            <div class="advantage__title-block"><p class="advantage__title advantage__title_cow">721</p></div>
            <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

        </li> 

        <li class="advantage__block">
            
            <div class="advantage__title-block" ><p class="advantage__title advantage__title_weight">16kg</p></div>
            <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

        </li> 

        <li class="advantage__block">
        
            <div class="advantage__title-block"><p class="advantage__title advantage__title_ice">84</p></div>
            <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

        </li> 
    </ul>
</section>
