
 <div class="container container__advantage">
 <div class="advantage__block advantage__block_first">
    <div class="advantage__icon">
        <img 
            srcset="./images/mobile/mobile-advantages/mobile-advantages-cow@1x.png 1x, ./images/mobile/mobile-advantages/mobile-advantages-cow@2x.png 2x" 
             src="./images/mobile/mobile-advantages/mobile-advantages-cow@1x.png"
             alt="cow icon">
    </div>
    
    <p class="advantage__title">721</p>
    <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

</div> 

 <div class="advantage__block">
    <div class="advantage__icon">
        <img 
            srcset="./images/mobile/mobile-advantages/mobile-advantages-weight@1x.png 1x, ./images/mobile/mobile-advantages/mobile-advantages-weight@2x.png 2x" 
             src="./images/mobile/mobile-advantages/mobile-advantages-weight@1x.png"
             alt="weight icon">
    </div>
    <p class="advantage__title">16kg</p>
    <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

</div> 

<div class="advantage__block">
    <div class="advantage__icon">
        <img 
            srcset="./images/mobile/mobile-advantages/mobile-advantages-ice-cream@1x.png 1x, ./images/mobile/mobile-advantages/mobile-advantages-ice-cream@2x.png 2x" 
             src="./images/mobile/mobile-advantages/mobile-advantages-ice-cream@1x.png"
             alt="ice-cream icon">
    </div>
    <p class="advantage__title">84</p>
    <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

</div> 
</div>

