<section class="advantage">
 <div class="container advantage__container">
 <div class="advantage__block advantage__block_first">
    <!-- <div class="advantage__icon">
        <img 
            srcset="./images/mobile/mobile-advantages/mobile-advantages-cow@1x.png 1x, ./images/mobile/mobile-advantages/mobile-advantages-cow@2x.png 2x" 
             src="./images/mobile/mobile-advantages/mobile-advantages-cow@1x.png"
             alt="cow icon">
    </div> -->
    
    <div class="advantage__title-block"><p class="advantage__title advantage__title_cow">721</p></div>
    <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

</div> 

 <div class="advantage__block">
    <!-- <div class="advantage__icon">
        <img 
            srcset="./images/mobile/mobile-advantages/mobile-advantages-weight@1x.png 1x, ./images/mobile/mobile-advantages/mobile-advantages-weight@2x.png 2x" 
             src="./images/mobile/mobile-advantages/mobile-advantages-weight@1x.png"
             alt="weight icon">
    </div> -->
    <div class="advantage__title-block" ><p class="advantage__title advantage__title_weight">16kg</p></div>
    <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

</div> 

<div class="advantage__block">
    <!-- <div class="advantage__icon">
        <img 
            srcset="./images/mobile/mobile-advantages/mobile-advantages-ice-cream@1x.png 1x, ./images/mobile/mobile-advantages/mobile-advantages-ice-cream@2x.png 2x" 
             src="./images/mobile/mobile-advantages/mobile-advantages-ice-cream@1x.png"
             alt="ice-cream icon">
    </div> -->
    <div class="advantage__title-block"><p class="advantage__title advantage__title_ice">84</p></div>
    <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

</div> 
</div>
</section>
