<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts__list">
      <li class="contacts__item">
        <p class="contacts__item-title">cafe</p>
        <address class="address">
          <ul class="list contacts__list-address">
            <li class="contacts__item--black">Chicago</li>
            <li class="contacts__item--orange">
              <a
                class="link contacts__link--orange"
                href="https://goo.gl/maps/e1e8ChkbK47d1Ejv6"
                target="_blank"
                rel="noopener nofollow"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </li>
          </ul>
          <ul class="list contacts__list-shedule">
            <li class="contacts__item--black">Monday - Friday</li>
            <li class="contacts__item--grey">
              <time datetime="06:00">06:00 AM </time> -
              <time datetime="22:00">10:00 PM</time>
            </li>
            <li class="contacts__item--black">Saturday - Sunday</li>
            <li class="contacts__item--grey">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </li>
          </ul>
          <ul class="list contacts__list-info">
            <li>
              <a class="link contacts__link--black" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a
                class="link contacts__link--black"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">foodtruck</p>
        <address class="address">
          <ul class="list contacts__list-address">
            <li class="contacts__item--black">Los Angeles</li>
            <li class="contacts__item--orange">
              <a
                class="link contacts__link--orange"
                href="https://goo.gl/maps/iwC1ueayGGUVtuja8"
                target="_blank"
                rel="noopener nofollow"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </li>
          </ul>
          <ul class="list contacts__list-shedule">
            <li class="contacts__item--black">Monday - Friday</li>
            <li class="contacts__item--grey">
              <time datetime="06:00">06:00 AM </time> -
              <time datetime="22:00">10:00 PM</time>
            </li>
            <li class="contacts__item--black">Saturday - Sunday</li>
            <li class="contacts__item--grey">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </li>
          </ul>
          <ul class="list contacts__list-info">
            <li>
              <a class="link contacts__link--black" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a
                class="link contacts__link--black"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">cafe</p>
        <address class="address">
          <ul class="list contacts__list-address">
            <li class="contacts__item--black">New York</li>
            <li class="contacts__item--orange">
              <a
                class="link contacts__link--orange"
                href="https://goo.gl/maps/DjzqMMYsmxmBK6UN7"
                target="_blank"
                rel="noopener nofollow"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </li>
          </ul>

          <ul class="list contacts__list-shedule">
            <li class="contacts__item--black">Monday - Friday</li>
            <li class="contacts__item--grey">
              <time datetime="06:00">06:00 AM </time> -
              <time datetime="22:00">10:00 PM</time>
            </li>
            <li class="contacts__item--black">Saturday - Sunday</li>
            <li class="contacts__item--grey">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </li>
          </ul>
          <ul class="list contacts__list-info">
            <li>
              <a class="link contacts__link--black" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a
                class="link contacts__link--black"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <button type="button" class="contacts__button">Our Locations</button>
    <button type="button" class="contacts__button contacts__button--without-bg">
      Franchise
    </button>
  </div>
</section>
