<!-- <section class="customer-reviews">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="image-slider swiper-slide">
          <div class="picture-wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts_1x.webp 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts_2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts@1x.jpg 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="photo-customer"
                width="85"
                height="85"
                src="./images/mobile/mobile-contacts/mobile-contacts@1x.jpg"
                alt="photo-customer"
              />
            </picture>
          </div>
          <div class="wrapper-text">
            <p class="customer-reviews__text">I love visiting your cafe.</p>
            <p class="customer-reviews__text">
              You prepare the most delicious ice cream in Los Angeles!
            </p>
            <p class="customer-reviews__text">
              In addition, you have beautiful serving, cozy atmosphere and
              polite staff.
            </p>
          </div>

          <p class="customer-reviews__information">Emily, Los Angeles</p>
        </div>
        <div class="image-slider swiper-slide">
          <div class="picture-wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts2@1x.webp 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts2@1x.jpg 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts2@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="photo-customer"
                width="85"
                height="85"
                src="./images/mobile/mobile-contacts/mobile-contacts2@1x.jpg"
                alt="photo-customer"
              />
            </picture>
          </div>

          <div class="wrapper-text">
            <p class="customer-reviews__text">
              I love eating popsicles on a hot day.
            </p>
            <p class="customer-reviews__text">Yours is always delicious.</p>
            <p class="customer-reviews__text">
              I recommend your cafe to everyone I know.
            </p>
          </div>
          <p class="customer-reviews__information">Sam, Los Angeles</p>
        </div>
        <div class="image-slider swiper-slide">
          <div class="picture-wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts3@1x.webp 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts3@1x.jpg 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts3@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="photo-customer"
                width="85"
                height="85"
                src="./images/mobile/mobile-contacts/mobile-contacts3@1x.jpg"
                alt="photo-customer"
              />
            </picture>
          </div>

          <div class="wrapper-text">
            <p class="customer-reviews__text">Ice cream is my passion!</p>
            <p class="customer-reviews__text">
              I love your chocolate hazelnut ice cream!
            </p>
            <p class="customer-reviews__text">
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <p class="customer-reviews__information">Diana, Chicago</p>
        </div>
        <div class="image-slider swiper-slide">
          <div class="picture-wrapper">
            <picture>
              <source
                srcset="
                  /images/mobile/mobile-contacts/mobile-contacts4@1x.webp  1x,
                  ./images/mobile/mobile-contacts/mobile-contacts4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/mobile/mobile-contacts/mobile-contacts4@1x.jpg 1x,
                  ./images/mobile/mobile-contacts/mobile-contacts4@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="photo-customer"
                width="85"
                height="85"
                src="./images/mobile/mobile-contacts/mobile-contacts4@1x.jpg"
                alt="photo-customer"
              />
            </picture>
          </div>

          <div class="wrapper-text">
            <p class="customer-reviews__text">
              Every day we come to you with friends after classes in college.
            </p>
            <p class="customer-reviews__text">
              We love your ice cream and casual atmosphere!
            </p>
          </div>
          <p class="customer-reviews__information">Bryan, New-York</p>
        </div>
      </div>

      <div class="swiper-pagination">
        <div class="swiper-pagination-bullet"></div>
      </div>
    </div>
  </div>
</section> -->
