<section class="footer">
  <div class="container">
    <h2 class="footer__title">homemade ice cream made</h2>
    <div class="footer-container">
      <p class="footer__subtitle">with passion</p>

      <div class="container-social">
        <ul class="social list">
          <li class="social__item">
            <a
              class="social__link link"
              href="https://github.com/"
              target="_blank"
              rel="noopener nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://web.telegram.org/"
              class="social__link link"
              target="_blank"
              rel="noopener nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              class="social__link link"
              target="_blank"
              rel="noopener nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="contact-footer">
          <p class="contact-footer__text">Feel free to contact</p>
          <a class="contact-footer__tel link" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer__line">
    <div class="reserved">
      <p class="reserved__text">&copy; 2022 - IceCream.</p>
      <p class="reserved__text">All Rights Reserved.</p>
    </div>
  </div>
</section>
