<div class="data-modal is-hidden" franchise-modal>
  <div class="modal">
    <button
      type="button"
      class="button modal__button-close"
      franchise-modal-close
    >
      <svg class="modal__button-icon">
        <use href="./images/sprite.svg#menu-close"></use>
      </svg>
    </button>
    <h2 class="modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="modal__text-small">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="modal-form">
      <label class="modal-form__label">
          <input
            type="text"
            name="user_name"
            class="modal-form__input"
            placeholder="Name"
            required
            pattern="^[a-zA-Zа-яА-Я]+$"
            minlength="2"
          />
        </span>
      </label>
      <label class="modal-form__label">
          <input
            type="tel"
            name="user_phone"
            class="modal-form__input"
            placeholder="Phone"
            required
            pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"
            title="xxxxxxxxxx"
            minlength="9"
          /> </span
      ></label>
      <label class="modal-form__label">
          <input
            type="email"
            name="user_email"
            class="modal-form__input"
            placeholder="Email"
            required
          /> </span
      ></label>
      <label>
        <textarea
          name="user_comment"
          placeholder="Comment"
          class="modal-form__comment"
        ></textarea>
      </label>
      <button type="submit" class="button modal-form__button">Submit</button>
    </form>
  </div>
</div>
