<header class="page-header">
    <div class="container page-header__container">

        <a href="/" class="logo page-header__logo">
            <svg class="logo__img">
                <use href="./images/sprite.svg#Logo"></use>
            </svg>
            </a>
        <nav class="page-nav">
                <ul class="menu__header list">
                <li class="menu__item">
                    <a class="menu__link menu__link_current link" href="./index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#about">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#made">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#product">Our products</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="mobile-menu-open">
            <svg class="mobile-menu-open__icon" width="30" height="30">
                <use href="./images/sprite.svg#menu-open"></use>
            </svg>
        </button>

        <button type="button" class="header__button"> 
            <span class="header__button-text">Buy now</span>
            <svg class="@" width="12" height="12">
                <use href="./images/sprite.svg#arrow-button"></use>
            </svg>
        </button>

    </div>
</header>


