<header class="page-header">
  <div class="container page-header__container">
    <a href="./index.html" class="logo page-header__logo">
      <img class="logo__img" src="./images/logo.png" alt="logo" />
    </a>
    <nav class="page-nav">
      <ul class="menu__header list">
        <li class="menu__item">
          <a class="menu__link menu__link_current link" href="./index.html"
            >Home</a
          >
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#How it's made?">How it's made?</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#Our-products">Our products</a>
        </li>

        <li class="menu__item">
          <a class="menu__link link" href="#Contact">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mobile-menu-open js-open-menu">
      <svg class="mobile-menu-open__icon" width="30" height="30">
        <use href="./images/sprite.svg#menu-open"></use>
      </svg>
    </button>

    <button type="button" class="header__button">
      <span class="header__button-text">Buy now</span>
      <svg class="header__button-icon" width="12" height="12">
        <use href="./images/sprite.svg#arrow-button"></use>
      </svg>
    </button>
  </div>
</header>
