<header class="page-header">
    <div class="container page-header__container">
        <nav class="page-nav">
            <a href="" class="logo page-header__logo">
                <svg class="logo__img">
                    <use href="./images/sprite.svg#"></use>
                </svg>
            </a>
            <ul class="menu__header list">
                <li class="menu__item">
                    <a class="menu__link menu__link_current link" href="#home">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#about">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#made">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#products">Our products</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        
        <button type="button" class="mobile-menu-open">
            <svg class="mobile-menu-open__icon" width="30" height="30">
                <use href="./images/sprite.svg#burger-icon"></use>
            </svg>
        </button>
        
        <button type="button" class="header__button"> Buy now > </button>
        
    </div>
</header>

