<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="container-header">
      <a href="./index.html" class="logo page-header__logo mobile__logo">
        <img class="logo__img" src="./images/logo.png" alt="logo" />
      </a>
      <button class="menu__button-open js-close-menu">
        <svg width="30" height="30">
          <use href="./images/sprite.svg#menu-close"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-menu list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="./index.html">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#How it's made?">How it's made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href=#Our-products">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#Contact">Contact</a>
      </li>
    </ul>
    <button type="button" class="header__button header__button-mobile">
      <span class="header__button-text">Buy now</span>
      <svg class="header__button-icon" width="12" height="12">
        <use href="./images/sprite.svg#arrow-button"></use>
      </svg>
    </button>
  </div>
</div>
