<div class="data-modal is-hidden" our-location-modal>
  <div class="modal">
    <button
      type="button"
      class="button modal__button-close"
      our-location-modal-close
    >
      <svg class="modal__button-icon">
        <use href="./images/sprite.svg#menu-close"></use>
      </svg>
    </button>
    <p class="modal__text">Our Locations</p>
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.088876714523!2d-118.41026705878573!3d33.88344601567231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eca6743829%3A0x98448969b9b4373d!2s1003%20Manhattan%20Ave%2C%20Manhattan%20Beach%2C%20CA%2090266%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2spl!4v1662404652990!5m2!1sru!2spl"
      width="224"
      height="199"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <button type="submit" class="button modal__button-open">
      <a
        class="link modal__button-link"
        href="https://goo.gl/maps/iwC1ueayGGUVtuja8"
        target="_blank"
        rel="noopener nofollow"
        >Open map</a
      >
    </button>
  </div>
</div>
