<section class="products" id="Our-products">
  <div class="container">
    <p class="products__overtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="product-cards">
      <li class="product-cards__item product-cards__item-first list">
        <div class="product-cards__wrap-first"></div>
        <h3 class="product-cards__title">ice cream</h3>
        <p class="product-cards__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="product-cards__button" type="button">
          <svg class="product-cards__icon">
            <use href="/src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product-cards__item product-cards__item-second list">
        <div class="product-cards__wrap-second"></div>
        <h3 class="product-cards__title">ice coffee</h3>
        <p class="product-cards__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="product-cards__button" type="button">
          <svg class="product-cards__icon">
            <use href="/src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product-cards__item product-cards__item-third list">
        <div class="product-cards__wrap-third"></div>
        <h3 class="product-cards__title">milkshakes</h3>
        <p class="product-cards__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="product-cards__button" type="button">
          <svg class="product-cards__icon">
            <use href="/src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
