<section class="products">
  <div class="container">
    <p class="products__lable">100% natural</p>
    <h2 class="products__main-title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item-first list">
        <h3 class="products__item-name">ice cream</h3>
        <p class="products__item-descr">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="arrow-btn" type="button">
          <svg width="40" height="15">
            <use href="/src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item-second list">
        <h3 class="products__item-name">ice coffee</h3>
        <p class="products__item-descr">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="arrow-btn" type="button">
          <svg width="40" height="15">
            <use href="/src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item-third list">
        <h3 class="products__item-name">milkshakes</h3>
        <p class="products__item-descr">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="arrow-btn" type="button">
          <svg width="40" height="15">
            <use href="/src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
