<div class="data-modal is-hidden" read-more-modal>
  <div class="modal__read-more">
    <button type="button" class="modal__button-close" read-more-modal-close>
      <svg width="16px" height="16px">
        <use href="./images/sprite.svg#menu-close"></use>
      </svg>
    </button>
   

<form clas="read-more">
    <h2 class="read-more__subtitle">How it’s made?</h2>
    <iframe class="read-more__ifreme" 
        src="https://www.youtube.com/embed/2qO6tSHYanI" 
         title="YouTube video player" 
         frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
         width="224" height="199">
        </iframe>
    <p class="read-more__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et Lorem ipsum dolor
    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

</form>
   
</div>
