.header__button,
.about__button {
  padding: 12px 33px;
  border-radius: 10px;
  border: none;

  @include font(14px, 600, 18px, 0.03em, var(--text-color-button));

  background-color: var(--button-color-main);

  transition: background-color var(--speed-animation) var(--animation-type),
    color var(--speed-animation) var(--animation-type),
    fill var(--speed-animation) var(--animation-type);

  &:hover {
    background-color: var(--button-color-accent);
  }

  &:focus {
    color: var(--text-color-main);
    fill: var(--text-color-main);
  }
}

.hero__button {
  padding: 7px 16px;
  border-radius: 10px;

  border: 2px solid var(--button-color-main);

  @include font(8px, 600, 10px, 0.03em, var(--text-color-button));

  background-color: transparent;

  transition: border-color var(--speed-animation) var(--animation-type),
    color var(--speed-animation) var(--animation-type),
    fill var(--speed-animation) var(--animation-type);

  &:hover {
    border-color: var(--button-color-accent);
  }

  &:focus {
    color: var(--text-color-main);
    fill: var(--text-color-main);
  }

  @media screen and (min-width: $desktop) {
    @include font(14px, 600, 18px, 0.03em, var(--text-color-button));
  }
}

.hero__button--frameless {
  border: none;
  background-color: transparent;
  text-decoration-line: underline;

  @include font(8px, 600, 10px, 0.03em, var(--text-color-button-frameless));

  &:hover {
    color: var(--text-color-button-frameless-accent);
  }

  &:focus {
    color: var(--text-color-main);
    fill: var(--text-color-main);
  }

  @media screen and (min-width: $desktop) {
    @include font(14px, 600, 17px, 0.03em, var(--text-color-button-frameless));
  }
}

.product-cards__button,
.hero__button--arrow {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  overflow: hidden;

  transition: width var(--speed-animation) var(--animation-type);

  &:focus {
    width: 50px;
  }

  &:focus .product-cards__icon {
    left: 0;
    width: 50px;
  }

  .product-cards__icon,
  .hero__icon--arrow {
    position: absolute;
    left: -10px;
    width: 40px;
    height: 15px;

    transition: width var(--speed-animation) var(--animation-type),
      left var(--speed-animation) var(--animation-type);

    &:hover {
      left: 0;
    }
  }
}

.contacts__button {
  min-width: 196px;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color-main);

  @include font(14px, 600, 18px, 0.03em, var(--text-color-button));

  transition: background-color var(--speed-animation) var(--animation-type),
    border var(--speed-animation) var(--animation-type),
    color var(--speed-animation) var(--animation-type),
    fill var(--speed-animation) var(--animation-type);

  &:hover {
    background-color: var(--button-color-accent);
  }

  &:focus {
    color: var(--text-color-main);
    fill: var(--text-color-main);
  }

  &--without-bg {
    background-color: transparent;
    border: 2px solid var(--button-color-main);
    color: var(--text-color-button);

    &:hover {
      background-color: transparent;
      border-color: var(--button-color-accent);
    }

    &:focus {
      color: var(--text-color-main);
      fill: var(--text-color-main);
    }
  }
}
