.about {
    padding-top: 60px;
    padding-bottom: 42px;
}

.about__overtitle {
    @include font(18px, 700, 22px, 0.03em, var(--text-color-main));    
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
}

.about__title {
    @include font(30px, 400, 38px, 0.04em, var(--text-color-main));
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;    
}

.about__img-container {
    position: relative;
    display: block;
    background-color: var(--background-color-cow-img);
    background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));       
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 50%;
    width: 278px;
    height: 278px;    
}

.about__image {
    position: absolute;
    border-radius: 50%;    
    top: 22px;
}

.about__text {
    @include font(12px, 400, 21px, 0.04em, var(--text-color-main));
}

@media screen and (max-width: $to-tablet) {
    .about__title {
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .about__img-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 62px;
    }

    .about__text-wrapper {
        width: 220px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .about__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
