
// .contacts{
//     position: relative;
//     min-height: 1075px;
//     background-color: aquamarine;

// }
// .contacts__container{
//     position: absolute;
//         bottom: 0;
//         left: 0;
// }
.contacts__list {
   
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.contacts__item {
    padding:40px 32px;
    background-color:var(--background-color-address);
    max-width: 280px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.contacts__item-title {
    display: inline-block;
    padding: 0 23px;
    margin-bottom: 20px;

    @include font(12px, 500, 22px, 0.04em, var(--text-color-main));
    text-transform: uppercase;

    background-color: var(--background-color-secondary);
    border-radius: 4px;
}

.contacts__list-address {
    position: relative;
    margin-bottom: 48px;

    &::after {
        content: '';
        position: absolute;
        bottom: -34%;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #E1E1E1;
    }
}

.contacts__list-shedule {
    position: relative;
    margin-bottom: 48px;

    &::after {
        content: '';
        position: absolute;
        bottom: -25%;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #E1E1E1;
    }
}

.contacts__item--orange {
    margin-top: 8px;
}

.contacts__item--grey:not(:last-child) {
    margin-bottom: 8px;
}

.contacts__item--black {
    @include font(12px, 500, 22px, 0.04em, var(--text-color-secondary));
    font-style: normal;
}

.contacts__link--orange {
    @include font(12px, 500, 22px, 0.04em, var(--text-color-address));
    font-style: normal;
}
.contacts__link--black{
    @include font(12px, 500, 22px, 0.04em, var(--text-color-secondary));
    font-style: normal;
}

.contacts__item--grey {
    @include font(12px, 500, 22px, 0.04em, var(--text-color-time));
    font-style: normal;
}


.contacts__button,
.contacts__button--without-bg{
    display: block;
    margin: 0 auto;
}
.contacts__button{
    margin-top: 32px;
    margin-bottom: 16px;
}
