
.contacts{
//     position: relative;
//     min-height: 1075px;
//     background-color: aquamarine;
margin-bottom: 39px;

}
// .contacts__container{
//     position: absolute;
//         bottom: 0;
//         left: 0;
// }
.contacts-cards {
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.contacts-cards__item {
    padding:40px 32px;
    background-color:var(--background-color-address);
    max-width: 280px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.contacts-cards__title {
    display: inline-block;
    padding: 0 23px;
    margin-bottom: 20px;

    @include font(12px, 500, 22px, 0.04em, var(--text-color-main));
    text-transform: uppercase;

    background-color: var(--background-color-secondary);
    border-radius: 4px;
}

.contacts-cards__list-address {
    position: relative;
    margin-bottom: 48px;

    &::after {
        content: '';
        position: absolute;
        bottom: -34%;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #E1E1E1;
    }
}

.contacts-cards__list-shedule {
    position: relative;
    margin-bottom: 48px;

    &::after {
        content: '';
        position: absolute;
        bottom: -25%;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #E1E1E1;
    }
}

.contacts-cards__list-item--orange {
    margin-top: 8px;
}

.contacts-cards__list-item--grey:not(:last-child) {
    margin-bottom: 8px;
}

.contacts-cards__list-item--black {
    @include font(12px, 500, 22px, 0.04em, var(--text-color-secondary));
    font-style: normal;
}

.contacts-cards__list-link--orange {
    @include font(12px, 500, 22px, 0.04em, var(--text-color-address));
    font-style: normal;
}
.contacts-cards__list-link--black{
    @include font(12px, 500, 22px, 0.04em, var(--text-color-secondary));
    font-style: normal;
}

.contacts-cards__list-item--grey {
    @include font(12px, 500, 22px, 0.04em, var(--text-color-time));
    font-style: normal;
}

.btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}
.contacts__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts__button-icon{
    margin-left: 10px;
   
}