.customer-reviews{
    position: relative;
    
    background-color: var(--background-color-modal);
    background-image: url(/src/images/mobile/mobile-gallery/mobile-backgroundimg.png);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 394px;
    
}
.thumb {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 280px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
}
.backgroundimg{
    width: 100%;
    border-radius: 7px;
}

.swiper {
    max-width: 280px;
    min-height: 250px;
   
}
.swiper-wrapper{
    min-width: 0;
    min-height: 0;
}
.image-slider .swiper-pagination{
    bottom: 0;
}


.swiper-pagination .swiper-pagination-bullet{
   width: 12px;
   height: 12px;
   line-height: 12px;
   font-size: 14px;
   background-color: var(--background-color-main);
}
.picture-wrapper{
    
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 85px;
    height: 85px;
}
.photo-customer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50%;
}
.wrapper-text{
    padding: 34px 39px;
    background-color: var(--background-color-main);
    border-radius: 10px;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
}
.customer-reviews__text{
    
    
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    color: #FCFCFC;
}

.customer-reviews__information{
    margin-top: 30px;
    margin-bottom: 31px;
    font-family: var(--secondary-font);
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    color: var(--text-color-secondary);
    
}

@media screen and (min-width: $tablet) {
    .customer-reviews {
        margin-top: 0;
        padding-top: 223px;
        padding-bottom: 383px;
        background-image: url(/src/images/tablet/tablet-gallery/tablet-backgroundimg.png);
        background-size: cover;
    } 
    .swiper{
        max-width: 705px;
        min-height: 355px;
    }
    .wrapper-text{
        padding: 29px 80px;
        margin-top: 28px;
        text-align: center;
        

    }
    .customer-reviews__text{
       display: inline;
       font-family: var(--primary-font);
       font-weight: 500;
       font-size: 14px;
       line-height: 1.86;
       letter-spacing: 0.04em;
       
    }
    .customer-reviews__information{
        margin-top: 32px;
        
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;
    }
    .thumb{
        min-width: 704px;
        
    }
    .backgroundimg{
        
     border-radius: 18px;
    }
}

@media screen and (min-width: $desktop){
    .customer-reviews{
        padding-top: 450px; 
        padding-bottom: 207px;
        background-image: url(/src/images/desktop/desktop-gallery/desktop-backgroundimg.png);
        background-size: cover;
    }
    .swiper{
        max-width: 968px;
        min-height: 361px;
    }
    .wrapper-text{
        padding: 39px 74px;
        margin-top: 32px;
    }
    .customer-reviews__text{
        font-size: 14px;
    }
    .thumb{
        min-width: 1013px;
        
        
    }
    .backgroundimg{
        
     border-radius: 24px;
    }
}