    .page-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
@media screen and (max-width: 767px) {
    .page-header {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .menu__header {
        display: none;
    }

    .modal-btn {
        display: none;
    }

    .logo__img {
        width: 41px;
        height: 37px;
    }

    .menu__header {
        display: nav;
    }

    .mobile-menu-open {
        border: none;
        padding: 0;
        background-color: transparent;
        line-height: 0;
        fill: var(--social-color-accent);
    }

    .header__button {
        display: none;
    }
}


// /======TABLET===========/  
@media screen and (min-width: 767px) {
    .menu__header {
        display: none;
    }

    .page-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo__img {
        width: 48px;
        height: 44px;
    }

    .mobile-menu-open {
        border: none;
        padding: 0;
        background-color: var(--background-color-mobile-menu);
        margin-left: auto;
    }

    .mobile-menu-open__icon {
        fill: var(--social-color-accent);
    }

    .header__button {
        margin-left: 32px;
    }

    .header__button-icon {
        margin-left: 10px;
    }
}

//  Desktop 

@media screen and (min-width: 1200px) {
     .mobile-menu-open__icon {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }

    .page-header {
    position: absolute;
    width: 100%;
    top: 0;}

    .menu__header {
        display: flex;
        align-items: center;
        gap: 27px;
    }

    .menu__link {
        @include font(16px, 700, 19.5px, 0.03em, var(--background-color-address));
        white-space: nowrap;
        transition: color var(--speed-animation) var(--animation-type);

        &:hover,
        &:focus {
            color: var(--background-color-secondary);

        }
    }

    .logo__img {
        width: 60px;
        height: 65px;
    }

    .header__button {
        margin-left: unset;
          }
}
