// .container {
// padding-left: 20px;
// padding-right: 20px;}

// @media screen and (min-width: 480px) {
// .container {
// width: 480px;
// margin-left: auto;
// margin-right: auto;
// }
// }

// ====Mobile========/ 
@media screen and (max-width: 767px) {
.page-header{
    padding-top: 12px;
    padding-bottom: 12px;
    // position: absolute;
    width: 100%;
}    

.menu__header {
display: none;
}

.modal-btn {
display: none;
}

.page-header__container {
display: flex;
align-items: center;
justify-content: space-between;
}

.logo__img {
width: 41px;
height: 37px;
}

.page-nav {
display: flex;
align-items: center;
}

.mobile-menu-open{
    border: none;
    padding: 0;
    background-color: var(--background-color-mobile-menu);
    line-height: 0;
}
.mobile-menu-open__icon {
    fill: var(--social-color-accent);
}

.header__button {
display: none;
}
}


// /======TABLET===========/  
@media screen and (min-width: 767px) {
.menu__header {
display: none;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__img {
    width: 48px;
    height: 44px;
}

.mobile-menu-open {
    border: none;
    padding: 0;
    // color: #fff
    background-color: var(--background-color-mobile-menu);
    line-height: 0;
    margin-left: auto;
}

.mobile-menu-open__icon {
    fill: var(--social-color-accent);
}
.header__button {
    padding: 12px 33px;
    border-radius: 10px;
    border: none;
    margin-left: 32px;
    }
        //  @include font(14px, 600, 17px, 0.03em, var(--text-color-button));
    
        // // background-color: var(--button-color-main);
        // // transition: background-color var(--speed-animation) var(--animation-type);
    
        //  &:hover,
        //  &:focus {
        //      background-color: var(--button-color-accent);
        //  }
}

//  Desktop 

@media screen and (min-width: 1200px) {
// .container{
// padding-left: 16px;
// padding-right: 16px;
// width: 1200px;
// }

.mobile-menu-open__icon {
display: none;
}

.mobile-menu-open {
display: none;
}

.page-header__container {
display: flex;
align-items: center;
justify-content: space-between;
}

.page-nav {
display: flex;
align-items: center;
}

.page-header__logo {
    margin-right: 270px;
}

.page-header {
// position: absolute;
width: 100%;
padding-top: 40px;

}

.menu__header {
display: flex;
align-items: center;
}

.menu__item {
    margin-right: 27px;
}

.menu__link {
display: blok;
font-weight: 700;
font-size: 16px;
line-height: 1.21;
color: var(--background-color-address);
white-space: nowrap;

&:hover,
&:focus {
    color: var(--background-color-secondary);
}
}

.logo__img {
    width: 60px;
    height: 65px;}


}